.cv
.idea
.vs
Assets
Binaries
Build
Content
DerivedDataCache
Intermediate/ProjectFiles
Intermediate/ReimportCache
Intermediate/ShaderAutogen
Intermediate/CachedAssetRegistry.bin
Intermediate/Staging
Intermediate/TargetInfo.Engine.json
Intermediate/TargetInfo.json
Intermediate/TargetInfo.TheSimulation.json
Publish
Plugins/Developer/RiderLink
Saved/Autosaves
Saved/AutoScreenshot.png
Saved/Cooked
Saved/Config/CrashReportClient
Saved/Config/WorldState
Saved/Crashes
Saved/MaterialStats
Saved/MaterialStatsDebug
Saved/Logs
Saved/SaveGames/Default.sav
Saved/Shaders
Saved/StagedBuilds
Saved/Temp
Saved/WorldPartition